* {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f5f5f5;
}
.grcode {
   display: grid;
   justify-content: center;
   transition: 0.3s;

}
.gr__paste{
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s;
}

.container {
   background: #fff;
   padding: 30px;
   border-radius: 12px;
   min-width: 320px;
   text-align: center;
   box-shadow: 0 10px 25px rgba(0,0,0,.1);
   transition: 0.3s;
}

input {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   font-size: 16px;
   transition: 0.3s;
}

button {
   width: 100%;
   padding: 10px;
   background: #000;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 16px;
   transition: 0.3s;
}

#qr-code {
   margin-top: 20px;
   transition: 0.3s;
}